<div class="container py-5">
  <div class="ratio ratio-21x9 mb-5 shadow-sm rounded overflow-hidden">
    <iframe
      class="border-0 map-frame"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.027440147356!2d-0.1552956!3d38.99187009999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61c2a94654e619%3A0x7829b474c59f9cfc!2sRestaurante%20Arrocer%C3%ADa%20Casa%20Julia%20Grao%20de%20Gand%C3%ADa%20.%20Restaurante%20cocina%20mediterranea.!5e0!3m2!1ses!2ses!4v1773746495966!5m2!1ses!2ses"
      loading="lazy"
      title="Ubicación del restaurante">
    </iframe>
  </div>

  <div class="row gy-4 d-flex">
    <div class="col-md-6">
      <h1 class="text-center mb-4 fw-bold">CONTÁCTENOS</h1>

      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="mb-3">
          <input type="text" formControlName="name" class="form-control"
                 placeholder="Nombre"
                 [class.is-invalid]="f['name'].touched && f['name'].invalid"
                 [class.is-valid]="f['name'].valid">

          @if (f['name'].invalid && f['name'].touched) {
            <div class="invalid-feedback d-block">
              @if (f['name'].errors?.['required']) { <small class="d-block">El nombre es obligatorio</small> }
              @if (f['name'].errors?.['maxlength']) { <small class="d-block">El nombre debe tener como máximo 20 carácteres</small> }
            </div>
          }
        </div>

        <div class="mb-3">
          <input type="text" formControlName="tel" class="form-control"
                 placeholder="Teléfono (9 dígitos)"
                 [class.is-invalid]="f['tel'].touched && f['tel'].invalid"
                 [class.is-valid]="f['tel'].valid">

          @if (f['tel'].invalid && f['tel'].touched) {
            <div class="invalid-feedback d-block">
              @if (f['tel'].errors?.['required']) { <small class="d-block">Teléfono requerido</small> }
              @if (f['tel'].errors?.['pattern']) { <small class="d-block">Debe tener exactamente 9 números</small> }
              @if (f['tel'].errors?.['invalidPhone']) { <small class="d-block">Teléfono no valido</small> }
            </div>
          }
        </div>

        <div class="mb-3">
          <input type="email" formControlName="email" class="form-control"
                 placeholder="Correo electrónico"
                 [class.is-invalid]="f['email'].touched && f['email'].invalid"
                 [class.is-valid]="f['email'].valid">

          @if (f['email'].invalid && f['email'].touched) {
            <div class="invalid-feedback d-block">
              @if (f['email'].errors?.['required']) { <small class="d-block">Email requerido</small> }
              @if (f['email'].errors?.['email']) { <small class="d-block">Formato de email no válido</small> }
              @if (f['email'].errors?.['pattern']) { <small class="d-block">El email debe tener acabar en .es, .net o .com</small> }
              @if (f['email'].errors?.['maxlength']) { <small class="d-block">El email debe tener como máximo 40 carácteres</small> }
            </div>
          }
        </div>

        <div class="mb-3">
          <textarea formControlName="message" class="form-control" rows="3"
                    placeholder="Tu mensaje"
                    [class.is-invalid]="f['message'].touched && f['message'].invalid"
                    [class.is-valid]="f['message'].valid"></textarea>

          @if (f['message'].invalid && f['message'].touched) {
            <div class="invalid-feedback d-block">
              @if (f['message'].errors?.['required']) { <small class="d-block">El mensaje no puede estar vacío</small> }
              @if (f['message'].errors?.['maxlength']) { <small class="d-block">El mensaje debe tener como máximo 80 carácteres</small> }
            </div>
          }
        </div>

        <div class="text-center">
          <button class="btn btn-dark px-5 py-2 shadow-sm" type="submit" [disabled]="commentForm.invalid">
            Enviar Mensaje
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <div class="text-center "> <div class="fw-bold text-uppercase mb-3 fs-4">
        Grau de Gandia
      </div>

        <div class="mb-3">
          <a class="d-block text-decoration-none fs-5 mb-2" href="tel:+34687123724">
            <i class="bi bi-telephone-fill me-2"></i>+34 687 123 724
          </a>

          <a class="d-block text-decoration-none fs-5" href="mailto:info@restaurante.com">
            <i class="bi bi-envelope-at-fill me-2"></i>info@restaurantecj.com
          </a>
        </div>

        <hr class="w-25 mx-auto border-light opacity-50">

        <p class="text-white-50 small mt-2">
          Plaza Pou 1, 46730 <br>
          Playa Venecia
        </p>
      </div>
    </div>
  </div>

</div>
