<mat-sidenav-container class="vh-100">
  <mat-sidenav mode="side" opened="true" class="bg-dark d-flex">
    <div class="d-flex flex-column align-items-center text-center h-100 p-4 gap-4 w-100">
      <div class="mb-5"><img src="assets/images/logo.png" width="150" class="img-fluid" alt=""></div>
      <nav class="d-flex flex-column w-100 gap-2">
        @for (page of pages; track $index){
          <a mat-button [routerLink]='page.link' class="nav-btn text-uppercase">{{ page.name }}</a>
        }
      </nav>
      <button class="btn btn-outline-warning mt-auto w-100 fw-semibold text-uppercase" routerLink="/reservas">RESERVA</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="position-relative overflow-hidden">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        @for (slide of slides; track $index){
          <div class="carousel-item" [class.active]="$index === 0">
            <img class="w-100 vh-100 object-fit-cover" [src]='slide.image' alt="Slide">
          </div>
        }
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
