<div class="container py-5">
  <div class="row g-4 justify-content-center">
    <div class="col-md-6 col-lg-5">
      <form [formGroup]="formReservation" (ngSubmit)="onSubmit()" class="card shadow-lg border-0 p-4 rounded-4">
        <h5 class="fw-bold mb-4 text-secondary">
          <i class="bi bi-chat-left-text me-2"></i> Datos de la reserva
        </h5>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="Nombre"
                 formControlName="name"
                 [class.is-invalid]="r['name']?.touched && r['name']?.invalid"
                 [class.is-valid]="r['name']?.valid && r['name']?.touched">
          <label for="name"><i class="bi bi-person me-1"></i> Nombre</label>
          @if (r['name'].touched && r['name'].invalid) {
            <div class="invalid-feedback">
              @if (r['name'].errors?.['required']) {
                <span>El nombre es obligatorio.</span>
              }
              @if (r['name'].errors?.['minlength']) {
                <span>Mínimo 10 caracteres.</span>
              }
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phone" placeholder="Teléfono"
                 formControlName="phone"
                 [class.is-invalid]="r['phone']?.touched && r['phone']?.invalid"
                 [class.is-valid]="r['phone']?.valid && r['phone']?.touched">
          <label for="phone"><i class="bi bi-telephone me-1"></i> Teléfono</label>
          @if (r['phone'].touched && r['phone'].invalid) {
            <div class="invalid-feedback">
              @if (r['phone'].errors?.['required']) {
                <span>El teléfono es obligatorio.</span>
              }
              @if (r['phone'].errors?.['pattern']) {
                <span>Debe tener exactamente 9 números.</span>
              }
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control date-icon-grey" id="date" formControlName="date"
                 [min]="minDate"
                 [class.is-invalid]="r['date']?.touched && r['date']?.invalid">
          <label for="date"><i class="bi bi-calendar me-1"></i> Fecha</label>
          @if (r['date'].touched && r['date'].invalid) {
            <div class="invalid-feedback">
              @if (r['date'].errors?.['required']) {
                <span>La fecha es obligatoria.</span>
              }
              @if (r['date'].errors?.['minDateError']) {
                <span>No puedes seleccionar una fecha pasada.</span>
              }
            </div>
          }
        </div>
        <div class="form-floating mb-3">
  <textarea class="form-control textarea"  id="rices"
            placeholder="Arroces" formControlName="rices"
            [class.border-danger]="r['status'].value === 'confirmed' && !r['rices'].value ">
  </textarea>
          <label for="rices">
            <i class="bi bi-egg-fried me-1"></i> Arroces
          </label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="hour" formControlName="hour"
                  [class.is-invalid]="r['hour']?.touched && r['hour']?.invalid">
            <option value="">-- Selecciona --</option>
            <option value="13:30">13:30</option>
            <option value="15:30">15:30</option>
          </select>
          <label for="hour"><i class="bi bi-alarm me-1"></i> Hora</label>
          @if (r['hour'].touched && r['hour'].invalid) {
            <div class="invalid-feedback">
              <span>La hora es obligatoria.</span>
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="n_people" placeholder="Personas"
                 formControlName="n_people"
                 [class.is-invalid]="r['n_people']?.touched && r['n_people']?.invalid">
          <label for="n_people"><i class="bi bi-people me-1"></i> Personas</label>
          @if (r['n_people'].touched && r['n_people'].invalid) {
            <div class="invalid-feedback">
              @if (r['n_people'].errors?.['required']) {
                <span>Indica el número de personas.</span>
              }
              @if (r['n_people'].errors?.['min']) {
                <span>El mínimo son 2 personas.</span>
              }
            </div>
          }
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control textarea"
                    id="notes"
                    placeholder="Notas internas"
                    formControlName="notes">
          </textarea>

          <label for="notes">
            <i class="bi bi-sticky me-1"></i> Notas internas
          </label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="status" formControlName="status">
            @for (key of statusLabels | keyvalue; track key.key) {
              <option [value]="key.key">{{ key.value }}</option>
            }
          </select>
          <label for="status"><i class="bi bi-shield-check me-1"></i> Estado</label>
        </div>
        @if (this.authService.isLeaderOrAdmin()) {
          <div class="form-floating mb-3">
            <select class="form-select" id="table_id" formControlName="table_id">
              <option [ngValue]="null">-- Sin Mesa Asignada --</option>
              @for (table of filteredTables(); track table.id) {
                <option [ngValue]="table.id">{{ table.name }}</option>
              }
            </select>
            <label for="table_id"><i class="bi bi-layout-three-columns me-1"></i> Mesa Asignada</label>
          </div>
        }

        <div class="d-grid gap-3">
          <button class="btn btn-primary btn-lg shadow-sm"  type="submit">
            <i class="bi bi-send me-2"></i> {{ id ? 'Guardar cambios' : 'Enviar reserva' }}
          </button>
          <button type="button" class="btn btn-outline-secondary" routerLink="/auth/reservations-list">
            <i class="bi bi-arrow-left me-2"></i> Volver al listado
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 h-100 rounded-4 overflow-hidden">
        <div class="card-header bg-primary text-white py-4 text-center border-0">
          <h5 class="mb-0 fw-bold"><i class="bi bi-eye me-2"></i> Vista previa</h5>
          <h2 class="mt-2 ">
            {{ r['name']?.value || 'Nombre del cliente' }}
          </h2>
        </div>

        <div class="card-body bg-white p-4">
          <div class="d-flex flex-column gap-3">

            <div class="d-flex align-items-center p-3 bg-light rounded-3">
              <i class="bi bi-telephone text-primary fs-4 me-3"></i>
              <div>
                <div class="text-muted small">Teléfono</div>
                <div class="fw-bold">{{ r['phone']?.value || 'No definido' }}</div>
              </div>
            </div>

            <div class="d-flex align-items-center p-3 bg-light rounded-3">
              <i class="bi bi-calendar-check text-primary fs-4 me-3"></i>
              <div>
                <div class="text-muted small">Fecha y Hora</div>
                <div class="fw-bold">
                  {{ (r['date']?.value | date:'dd/MM/yyyy') || 'Fecha' }} - {{ r['hour']?.value || '--:--' }}
                </div>
              </div>
            </div>


            <div class="d-flex align-items-center p-3 bg-light rounded-3">
              <i class="bi bi-people text-primary fs-4 me-3"></i>
              <div>
                <div class="text-muted small">Personas</div>
                <div class="fw-bold">{{ r['n_people']?.value || '0' }} comensales</div>
              </div>
            </div>

            <div class="d-flex align-items-center p-3 rounded-3 border"
                 [ngClass]="{
               'border-warning bg-warning-subtle': r['status']?.value === 'unconfirmed',
               'border-success bg-success-subtle': r['status']?.value === 'confirmed',
               'border-danger bg-danger-subtle': r['status']?.value === 'cancelled'
             }">
              <i class="bi bi-tag-fill fs-4 me-3"
                 [ngClass]="{
               'text-warning': r['status']?.value === 'unconfirmed',
               'text-success': r['status']?.value === 'confirmed',
               'text-danger': r['status']?.value === 'cancelled'
             }"></i>
              <div>
                <div class="text-muted small">Estado actual</div>
                <div class="fw-bold">{{ getStatusLabel(r['status']?.value) }}</div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center p-3 bg-light rounded-3 mt-2">
            <i class="bi bi-egg-fried text-primary fs-4 me-3"></i>
            <div>
              <div class="text-muted small">Arroces </div>
              <div class="fw-bold text-wrap">{{ r['rices']?.value || 'No se han especificado arroces' }}</div>
            </div>
          </div>

          @if (r['notes']?.value) {
            <div class="mt-4 p-3 border-start border-4 border-warning bg-light rounded">
              <h6 class="fw-bold mb-1"><i class="bi bi-sticky me-2"></i> Notas adicionales</h6>
              <p class="mb-0 text-muted fst-italic">{{ r['notes']?.value }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
